<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="/logs/nlog.log">
	<extensions>
		<add assembly="NLog.Web.AspNetCore" />
	</extensions>
	<variable name="layout" value="${date:format=dd.MM.yyyy HH\:mm\:ss}|${level:uppercase=true:padding=5}|${logger:shortName=true:padding=30}|${message} ${exception:separator=\r\n:format=tostring}" />
	<targets async="true">
		<target xsi:type="File"
				name="appDebugFile"
				fileName="/logs/appDebug.log"
				archiveFileName="logs/${shortdate}_previous_week_appDebug_logs.zip"
				archiveEvery="Sunday"
				enableArchiveFileCompression="true"
				maxArchiveFiles="1"
				layout="${var:layout}" />
		<target xsi:type="File"
				name="debugFile"
				fileName="/logs/debug.log"
				archiveFileName="logs/${shortdate}_previous_week_debug_logs.zip"
				archiveEvery="Sunday"
				enableArchiveFileCompression="true"
				maxArchiveFiles="1"
				layout="${var:layout}" />
		<target xsi:type="File"
				name="errorsFile"
				fileName="/logs/errors.log"
				layout="${var:layout}" />
		<target xsi:type="File"
				name="infoFile"
				fileName="/logs/info.log"
				archiveFileName="logs/${shortdate}_info_logs.zip"
				archiveEvery="Sunday"
				enableArchiveFileCompression="true"
				maxArchiveFiles="4"
				layout="${var:layout}" />
		<target xsi:type="ColoredConsole"
				name="console"
				layout="${var:layout}" >
			<highlight-word  foregroundColor="Red" ignoreCase="true" text="ERROR" />
		</target>
	</targets>
	<rules>
		<logger name="*" minlevel="Trace" writeTo="console" />
		<logger name="*" minlevel="Debug" writeTo="debugFile" />
		<logger name="*" minLevel="Error" writeTo="errorsFile, appDebugFile, infoFile"/>
		<logger name="*XmlKeyManager" final="true" writeTo="appDebugFile" />
		<logger name="*Diagnostics" final="true" writeTo="appDebugFile" />
		<logger name="Microsoft.*" maxLevel="Info" final="true"/>
		<logger name="*" minlevel="Debug" writeTo="appDebugFile" />
		<logger name="*" minlevel="Info" writeTo="infoFile" />
	</rules>
</nlog>